

# Model Configuration
PI_LLM_BASE_URL=https://xxxx/v1      # must
PI_LLM_MODEL_ID=gpt-4o               # must
PI_LLM_API_KEY="sk-xxx"              # must

PI_LLM_PROVIDER=""    # not must
PI_LLM_MODEL_NAME=""  # not must
PI_LLM_API_TYPE=openai-completions  # change it if necessary

# Model Context length
PI_LLM_CONTEXT_WINDOW=54000
PI_LLM_MAX_TOKENS=8192
PI_LLM_REASONING=false


####### TOOLS
##TOOL_QWEATHER_API_KEY="" #弃用 # https://console.qweather.com/setting?lang=zh， 【开发者ID】即 API_KEY
TOOL_TAVILY_SEARCH_API_KEY=""

