# Ignore bins directory  .gitignore 
.git/


*/__pycache__/
__pycache__/
# Byte-compiled / optimized / DLL files
__pycache__/ *.py[cod] *py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version


# Environments
.env
.venv
venv/
venv/
ENV/
env.bak/
venv.bak/

# Python packages (pip install -e generated)
*.egg-info/
*.egg/
.eggs/
dist/
build/
*.whl